header {
  height: 40px;
  background-color: red;
}

nav {
  display: inline-block;
  margin-top: 10px;
  float: right;
  width: 50%;
  background-color: green;
}

#titulo_cabecera {
  display: inline;
}

main {
  margin-top: 10px;
  background-color: red;
}

aside {
  display: inline-block;
  width: 30%;
  background-color: turquoise;
}

section {
  background-color: aqua;
  display: inline-block;
  width: 65%;
}

article {
  display: inline-block;
  background-color: blueviolet;
  width: 225px;
  height: 225px;
  margin: 5px;
}

footer {
  background-color: red;
}